{% load static %}

{% for msg in messages %}
  <div class="chat-message {% if msg.sender == current_user %}sent{% else %}received{% endif %}">
    {% if msg.sender != current_user %}
      <img src="{% static 'assets/images/user/avatar-1.jpg' %}" class="avatar me-2">
    {% endif %}
    <div class="bubble">
      <div class="sender">{{ msg.sender }}</div>
      <div class="text">{{ msg.content }}</div>
      <div class="timestamp">{{ msg.timestamp|date:"M d, Y H:i" }}</div>
    </div>
    {% if msg.sender == current_user %}
      <img src="{% static 'assets/images/user/avatar-1.jpg' %}" class="avatar ms-2">
    {% endif %}
  </div>
{% endfor %}
