{% extends 'template.html' %}

{% block content %}
    <h2 class="text-primary">Chapter 3: Database Optimization</h2>
        <div class="card">
            <h4>Course Content</h4>
            <p>Database optimization is crucial for improving performance, reducing query execution time, and enhancing scalability.</p>
            <p>Indexing is a technique used to speed up data retrieval by creating efficient access paths to database records.</p>
            <p>Normalization minimizes redundancy and ensures data integrity by structuring databases in a way that reduces anomalies.</p>
            <p>Effective caching strategies and query optimization techniques help enhance the overall efficiency of database systems.</p>
            <a href="quiz.html" class="btn btn-primary">Start Test</a>
        </div>
{% endblock %}
