{% extends 'template.html' %}

{% block content %}
   <h2 class="text-primary">Chapter 2: SQL Basics</h2>
        <div class="card">
            <h4>Course Content</h4>
            <p>SQL (Structured Query Language) is the standard language for managing and manipulating relational databases.</p>
            <p>Common SQL commands include SELECT, INSERT, UPDATE, DELETE, and CREATE, which allow users to query and modify data efficiently.</p>
            <p>SQL allows filtering data using conditions like WHERE, ORDER BY, and GROUP BY to extract meaningful insights from large datasets.</p>
            <p>Indexes and joins enhance SQL performance, making database queries faster and more efficient.</p>
            <a href="quiz.html" class="btn btn-primary">Start Test</a>
        </div>
{% endblock %}
